:root {
  --red-color: #f05f44;
  --orange-color: #ee4b08;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background: url(header.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 3rem;
  color: #e2dbdb;
}

.buffer {
  height: 5rem;
}

hr {
  margin: 20px auto;
  color: var(--red-color);
  border: 3px solid var(--red-color);
  max-width: 65px;
  opacity: 1;
}

.btn {
  font-weight: 700;
  border-radius: 300px;
  background-color: var(--red-color);
  border-color: var(--red-color);
}

.btn:hover {
  background-color: var(--orange-color);
  border-color: var(--orange-color);
}

.btn-xl {
  padding: 1rem 2rem;
}
